* { 
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; 
	user-select: none;
} 

html, body, #screenshare, #tunnel-frame { 
	width: 100dvw; 
	height: 100dvh; 
	overflow: hidden; 
} 

#screenshare, #tunnel-frame {
	object-fit: contain; 
	contain: strict;
	touch-action: none;
	cursor: none;
	background: #111;
}

#tunnel-frame {
	position: fixed;
	inset: 0;
	display: none;
}
